<div class = "sign_guide_wrap">
    <h1>Do You have account?</h1>
    
    <div class = "sign_guide">
        <%= link_to "Yes", login_path, class: "btn btn-primary" %> | 
        <%= link_to "No", signup_path, class: "btn btn-primary" %>
    </div>
</div>