// Place all the styles related to the banks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.bank_wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.bank{
    width: 20rem;
    border: thin solid #000;
    border-radius: 10px;
    margin: 10px 10px;
}

.bank_wrap_sigle{
    display: flex;
    justify-content: center;
}

a{
    margin:5px;
    
}