// Place all the styles related to the memos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
// .show_part{
//     border: thin solid #000;
//     margin: 10px;
// }

.show_all{
    margin: 10px 10px 10px 10px;
}

.memo{
    border: thin solid #000;
    margin: 10px;
    padding: 10px 10px 10px 10px;
}